Brotli
Deprecated
Jinja2
MarkupSafe
Pillow
PyGithub
PyJWT
PyNaCl
PyYAML
Unidecode
absl-py
appdirs
attrs
axisregistry
babelfont
beziers
booleanOperations
browserstack-local
bump2version
bumpfontversion
cattrs
certifi
cffi
cffsubr
charset-normalizer
click
colorlog
cu2qu
defcon
exceptiongroup
fontFeatures
fontMath
fontmake
fonttools
fs
gflanguages
glyphsLib
glyphsets
glyphtools
hyperglot
idna
lxml
nanoemoji
ninja
numpy
openstep-plist
opentype-sanitizer
orjson
picosvg
#pngquant-cli
protobuf
psutil
pybrowserstack-screenshots
pyclipper
pycparser
pygit2
pyparsing
python-dateutil
regex
requests
#resvg-cli
simplejson
six
skia-pathops
statmake
strictyaml
tabulate
toml
ttfautohint-py
ufo2ft
ufoLib2
uharfbuzz
unicodedata2
urllib3
vharfbuzz
vttLib
wrapt
zopfli
